@*@page "/"*@

<div>
    <a @onclick="NavigateToWorshipSongs">Goto Woship Songs</a>   
</div>
@code {
    public void NavigateToWorshipSongs()
    {
        Navigation.NavigateTo("worships/");
    }
}
