<style>
    .navbar-nav li {
        display: inline;
        width: fit-content;
    }

    ul {
        width: fit-content;
    }

        ul li {
            width: fit-content;
        }

    .navbar-nav li {
        display: inline;
        width: fit-content;
    }

        .navbar-nav li .a_item {
            display: inline;
            width: fit-content;
            height: fit-content;
            max-height: 30px;
            vertical-align: middle;
        }

    .a_item {
        display: inline;
        width: fit-content;
        height: fit-content;
        max-height: 30px;
        vertical-align: middle;
    }
    ul {
        width: fit-content;
    }

        ul li {
            width: fit-content;
        }

            ul li a:hover + .hiddenMenu,
            .hiddenMenu:hover {
                display: block;
            }
</style>
<div style="z-index:3000; background-color:@SiteInfo.BarBacgroundColor; opacity:10;" class="header-container" b-sqgpggpbft="">
    
    <header class="header fixed clea.dropdown-togglefix" b-sqgpggpbft="">
        <div class="container" b-sqgpggpbft="">
            <div class="row" b-sqgpggpbft="">
                <div class="col-md-3" b-sqgpggpbft="" >
                    <div class="header-left clearfix" b-sqgpggpbft="" style="display:inline-flex;">
                        <!--!--><div id="logo" class="logo" b-sqgpggpbft="">
                            <a href="/" b-sqgpggpbft="">
                                <div b-sqgpggpbft="" style="margin-top:50%; transform:translateY(-50%);">
                                    <img width="30" height="30" src="/img/codericon.svg" href="~/img/codericon.svg" b-sqgpggpbft="">
                                </div>
                            </a>
                        </div>

                        <div class="site-slogan" style="margin-left:8px; vertical-align:middle; font-weight:bold;" b-sqgpggpbft="">
                            @SiteInfo.Language.ToString()<!--!--> Worship Songs
                        </div>
                    </div>
                </div><!--!-->
                <div class="col-md-9" b-sqgpggpbft="">
                    <div class="header-right clearfix" b-sqgpggpbft="">
                        <div class="main-navigation  animated" b-sqgpggpbft="">
                            <!--!--><nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <!--!--><div style="width:fit-content; float:left; margin-right:auto; margin-left:10px;" class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    @*Expandable*@
                                    <div class="collapse navbar-collapse" id="navbar-collapse-1">

                                        <ul class="nav navbar-nav" style="display:inline; max-height:30px; ">
                                            <!--!-->
                                            <li style="position:relative; width:fit-content;" class="dropdown">
                                                <a style="font-weight:bolder;" class="a_item" href="#" role="button" aria-haspopup="true" aria-expanded="false">@SiteInfo.Language.ToString()</a><!--!-->
                                                <ul style="position:absolute; margin-top:-25px;" class="dropdown-menu hiddenMenu">
                                                    @foreach (var item in Enum.GetNames(typeof(LanguageType)))
                                                    {
                                                        <li>
                                                            <a style="font-weight:bold;" @onclick="@(()=>{ ChristianSongs.Blazor.Shared.MainLayout.Current.SelectLanguage(RepoHelper.ConvertLanguage(item));})">@item</a>
                                                        </li>
                                                    }
                                                </ul>

                                            </li><!--!-->
                                          @*  <li><a class="a_item" href="/">Home</a></li>*@
                                            <li style="visibility:visible; color:@SiteInfo.AccentColor;">
                                                <a class="a_item" style="color:@SiteInfo.AccentColor; font-weight:bolder;" @onclick="(()=>{ChristianSongs.Blazor.Shared.MainLayout.Current.NavigateToSubmitForm();})">Submit Worship Song</a>
                                            </li><!--!-->

                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
@code {
    string showMobileHeader = "display:none;";
    string showDestopHeader = "display:block;";
    bool IsMediumSize = false;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        IsMediumSize = ChristianSongs.Blazor.Shared.MainLayout.Current.Mobile;
    }
    void GotoLanguage(ChangeEventArgs e)
    {
        var language = e.Value.ToString();
        var languageType = RepoHelper.ConvertLanguage(language);
        ChristianSongs.Blazor.Shared.MainLayout.Current.SelectLanguage(languageType);
    }

}
