<style>
    .navbar-nav li {
        display: inline;
        width: fit-content;
    }

    ul {
        width: fit-content;
    }

        ul li {
            width: fit-content;
        }

    .navbar-nav li {
        display: inline;
        width: fit-content;
      
    }

        .navbar-nav li .a_item {
           
            width: fit-content;
            height: fit-content;
           
            vertical-align: middle;
                
        }

    .a_item {
        width: fit-content;
        height: fit-content;
        
        vertical-align: middle;
       
    }
    ul {
        width: fit-content;
        text-align: center;
        margin: 0;
        padding: 0;
       
    }

        ul li {
            width: fit-content;
        }

            ul li a:hover + .hiddenMenu,
            .hiddenMenu:hover {
                display: block;
            }
</style>
<div style="z-index:3000; background-color:@SiteInfo.BarBacgroundColor; opacity:10;" class="header-container" b-sqgpggpbft="">
    
    <header class="header fixed clea.dropdown-togglefix" b-sqgpggpbft="">
        <div class="container" b-sqgpggpbft="">
            <div class="row" b-sqgpggpbft="">
                <div class="col-md-3" b-sqgpggpbft="" >
                    <div class="header-left clearfix" b-sqgpggpbft="">
                        <!--!--><div id="logo" class="logo" b-sqgpggpbft="">
                            <a href="/" b-sqgpggpbft="">
                                <div b-sqgpggpbft="" >
                                    <img width="30" height="30" src="/img/codericon.svg" href="~/img/codericon.svg" b-sqgpggpbft="">
                                </div>
                            </a>
                        </div>

                        <div class="site-slogan" style="vertical-align:middle; font-weight:bold;" b-sqgpggpbft="">
                            @_selectedLanguage<!--!--> Worship Songs
                        </div>
                    </div>
                </div><!--!-->
                <div class="col-md-9" b-sqgpggpbft="" >
                    <div class="header-right clearfix" b-sqgpggpbft="">
                        <div class="main-navigation  animated" b-sqgpggpbft="">
                            <!--!--><nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <!--!--><div style="width:fit-content; float:left; margin-right:auto; margin-left:10px;" class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    @*Expandable*@
                                    <div  class="collapse navbar-collapse" id="navbar-collapse-1">

                                        <ul class="nav navbar-nav" style="display:inline;">
                                            <!--!-->
                                            <li style="position:relative; width:fit-content; font-weight:bolder;" class="">
                                                <a style="font-weight:bolder;" class="a_item">@_selectedLanguage▾</a><!--!-->
                                                <ul style="position:absolute; color:@SiteInfo.TextColor;" class="dropdown-menu hiddenMenu">
                                                    @foreach (var item in languageItems)
                                                    {
                                                        <li>
                                                            <a style="font-weight:bold;" @onclick="@(()=>{GotoLanguage(item);})">@item.Language</a>
                                                        </li>
                                                    }
                                                </ul>

                                            </li><!--!-->
                                            @*<li><a class="a_item" href="/">Home</a></li>*@
                                            <li style="visibility:visible; color:@SiteInfo.AccentColor;">
                                                <a class="a_item" style="color:@SiteInfo.AccentColor; font-weight:bolder;" @onclick="(()=>{ChristianSongs.Blazor.Shared.MainLayout.Current.NavigateToSubmitForm();})">Submit Worship Song</a>
                                            </li><!--!-->
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
@code {
    string showMobileHeader = "display:none;";
    string showDestopHeader = "display:block;";
    bool IsMediumSize = false;
    List<LanguageItem> languageItems = new List<LanguageItem>();
    protected override async void OnInitialized()
    {
        base.OnInitialized();
        IsMediumSize = ChristianSongs.Blazor.Shared.MainLayout.Current.Mobile;
        languageItems = await LanguageHelper.GetLanguagesAsync();
    }
    void GotoLanguage(LanguageItem language)
    {

        _selectedLanguage = language.Language;
        var languageType = _selectedLanguage;
        ChristianSongs.Blazor.Shared.MainLayout.Current.SelectLanguage(languageType);
        StateHasChanged();
    }
    string _selectedLanguage = SiteInfo.Language.ToString();
}
