<style>
    .pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}
</style>
<ContentDialog>
    <Content>
        <div class="note_dialog_add_div_main">
            <div contenteditable="true">
                <div>
                    <pre data-key="C"><span>HESUS SALAMAT</span>
<span></span>
<span>[Intro]</span>
<span><span class="c">D</span>  <span class="c">G</span>  <span class="c">D</span>  <span class="c">Bm</span>  <span class="c">Bb</span>  <span class="c">A</span></span>
<span></span>
<span></span>
<span>[Verse]</span>
<span>        <span class="c">D</span></span>
<span>Hesus salamat</span>
<span>         <span class="c">G</span></span>
<span>O Dios salamat</span>
<span>      <span class="c">A</span></span>
<span>Nananatili Kang tapat</span>
<span>     <span class="c">D</span>            <span class="c">F#m</span></span>
<span>Ibinigay Mo ang lahat</span>
<span>           <span class="c">Bm</span></span>
<span>Kulang ang buhay ko</span>
<span>  <span class="c">F#m</span>         <span class="c">Bm</span></span>
<span>Maging ang mundo</span>
<span>     <span class="c">Em</span>                      <span class="c">A</span></span>
<span>Sa laki at lawak ng pag-ibig Mo</span>
<span></span>
<span>        <span class="c">D</span></span>
<span>Hesus salamat</span>
<span>         <span class="c">G</span></span>
<span>O Dios salamat</span>
<span>      <span class="c">A</span></span>
<span>Nananatili Kang tapat</span>
<span>     <span class="c">D</span>            <span class="c">F#m</span></span>
<span>Ibinigay Mo ang lahat</span>
<span>           <span class="c">Bm</span></span>
<span>Kulang ang buhay ko</span>
<span>  <span class="c">F#m</span>         <span class="c">Bm</span></span>
<span>Maging ang mundo</span>
<span>     <span class="c">Em</span>                      <span class="c">A</span></span>
<span>Sa laki at lawak ng pag-ibig Mo</span>
<span></span>
<span></span>
<span></span>
<span></span>
<span>[Chorus]</span>
<span>      <span class="c">D</span>            <span class="c">Bm</span></span>
<span>Dakila Ka, Dakila Ka</span>
<span>       <span class="c">Em</span>            <span class="c">A</span></span>
<span>Dakila ang pag-ibig Mo</span>
<span>      <span class="c">D</span>            <span class="c">Bm</span></span>
<span>Dakila Ka, Dakila Ka</span>
<span>       <span class="c">Em</span>            <span class="c">A</span></span>
<span>Dakila ang pag-ibig Mo</span>
<span>      <span class="c">D</span></span>
<span>O Hesus</span>
<span></span>
<span></span>
<span>[Verse]</span>
<span>        <span class="c">D</span></span>
<span>Hesus salamat</span>
<span>         <span class="c">G</span></span>
<span>O Dios salamat</span>
<span>      <span class="c">A</span></span>
<span>Nananatili Kang tapat</span>
<span>     <span class="c">D</span>            <span class="c">F#m</span></span>
<span>Ibinigay Mo ang lahat</span>
<span>           <span class="c">Bm</span></span>
<span>Kulang ang buhay ko</span>
<span>  <span class="c">F#m</span>         <span class="c">Bm</span></span>
<span>Maging ang mundo</span>
<span>     <span class="c">Em</span>                      <span class="c">A</span></span>
<span>Sa laki at lawak ng pag-ibig Mo</span>
<span></span>
<span>[Chorus]</span>
<span>      <span class="c">D</span>            <span class="c">Bm</span></span>
<span>Dakila Ka, Dakila Ka</span>
<span>       <span class="c">Em</span>            <span class="c">A</span></span>
<span>Dakila ang pag-ibig Mo</span>
<span>      <span class="c">D</span>            <span class="c">Bm</span></span>
<span>Dakila Ka, Dakila Ka</span>
<span>       <span class="c">Em</span>            <span class="c">A</span></span>
<span>Dakila ang pag-ibig Mo</span>
<span>      <span class="c">D</span></span>
<span>O Hesus</span>
<span></span>
<span></span>
<span>[Solo]</span>
<span>D Bm Em A  x2</span>
<span></span>
<span></span>
<span>[Chorus]</span>
<span>      <span class="c">D</span>            <span class="c">Bm</span></span>
<span>Dakila Ka, Dakila Ka</span>
<span>       <span class="c">Em</span>            <span class="c">A</span></span>
<span>Dakila ang pag-ibig Mo</span>
<span>      <span class="c">D</span>            <span class="c">Bm</span></span>
<span>Dakila Ka, Dakila Ka</span>
<span>       <span class="c">Em</span>            <span class="c">A</span></span>
<span>Dakila ang pag-ibig Mo</span>
<span>      <span class="c">D</span>            <span class="c">Bm</span></span>
<span>Dakila Ka, Dakila Ka</span>
<span>       <span class="c">Em</span>            <span class="c">A</span></span>
<span>Dakila ang pag-ibig Mo</span>
<span>      <span class="c">D</span>            <span class="c">Bm</span></span>
<span>Dakila Ka, Dakila Ka</span>
<span>       <span class="c">Em</span>            <span class="c">A</span></span>
<span>Dakila ang pag-ibig Mo</span>
<span>      D         (repeat intro if ending)</span>
<span>O Hesus</span>
<span></span></pre>
                </div>
                @content
            </div>
            <div class="note_dialog_add_div_inner">
                @*<button @onclick="@Cancel" type="button" class="note_dialog_add_div_inner_btn" style="background-color:gray; color:white;">Cancel</button>*@
                <button @onclick="@Save" type="button" class="note_dialog_add_div_inner_btn" style="background-color:@SiteInfo.AccentColor; color:white;">Close</button>
            </div>
        </div>
    </Content>
</ContentDialog>



@code {
    string content = "";
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var projectItemData = DataServiceProvider.GetProjectItemData();
        content = Newtonsoft.Json.JsonConvert.SerializeObject(projectItemData);
        StateHasChanged();

    }

    void Cancel()
    {
        ChristianSongs.Blazor.Shared.MainLayout.Current.CloseDialog();

    }
    void Save()
    {
        ChristianSongs.Blazor.Shared.MainLayout.Current.CloseDialog();
    }
}
