<style>
    body {
        margin: 0;
        padding: 0;
    }

    span {
        color: @SiteInfo.TextColor;
        font-weight: bolder;
    }

    h2 h1 h3 h4 h5 h6 {
        color: @SiteInfo.TextColor;
    }   
</style>
<div>
    <!-- ================ -->
    <div @onclick="ScrollToTop" class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    <!-- page wrapper start -->
    <!-- ================ -->
    <div>
        <!-- header-container start -->
        <div class="header-container">
            <ChristianSongs.Blazor.Main.TopMenuHeader></ChristianSongs.Blazor.Main.TopMenuHeader>
        </div>
        <div style="display:grid;grid-template-rows:auto 1fr auto;">
            <div>
            </div>

            <div style="margin-bottom:65px;">
                <article>
                    @Content
                </article>
            </div>
            <div>
                <ChristianSongs.Blazor.Main.FooterView></ChristianSongs.Blazor.Main.FooterView>
            </div>
        </div>
    </div>
</div>
@code {
    public static ShellView Current { get; private set; }
    [Parameter]
    public RenderFragment Content { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
       
        Current = this;
    }
    public async void ScrollToTop()
    {
        await JS.InvokeVoidAsync("OnScrollEvent");
    }
   
}